---
import Layout from "../layouts/Layout.astro";
import ProfileCard from "../components/ProfileCard.jsx";
import ParticlesBackground from "../components/ParticlesBackground";
import ProjectCard from "../components/ProjectCard";
---

<Layout title="Hans's Portfolio">
  <main>
    <div>
      <ParticlesBackground client:only="react" />
      <div>
        <div class="grid place-items-center h-screen">
          <ProfileCard client:only="react" />
        </div>
        <div
          class="h-screen grid grid-cols-1 md:grid-cols-2 place-items-center w-5/6 mx-8 gap-10 md:w-8/12 md:mx-56"
        >
          <ProjectCard
            name="shamikorf"
            description="This is a test app used for Frontend development"
            url="d"
            img="\
https://pbs.twimg.com/media/FlGzQphaYAAxKxg?format=jpg&name=large"
          />

          <ProjectCard
            name="shamikorf"
            description="This is a test app used for Frontend development"
            url="d"
            img="\
https://pbs.twimg.com/media/FlGzQphaYAAxKxg?format=jpg&name=large"
          />
          <ProjectCard
            name="shamikorf"
            description="This is a test app used for Frontend development"
            url="d"
            img="\
https://pbs.twimg.com/media/FlGzQphaYAAxKxg?format=jpg&name=large"
          />
        </div>
      </div>
    </div>
  </main>

  <style>
    /* main { */
    /* } */
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      line-height: 1.6;
      margin: 1rem 0;
      border: 1px solid rgba(var(--accent), 25%);
      background-color: white;
      padding: 1rem;
      border-radius: 0.4rem;
    }
    .instructions code {
      font-size: 0.875em;
      font-weight: bold;
      background: rgba(var(--accent), 12%);
      color: rgb(var(--accent));
      border-radius: 4px;
      padding: 0.3em 0.45em;
    }
    .instructions strong {
      color: rgb(var(--accent));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 1rem;
      padding: 0;
    }
  </style>
</Layout>
